div
	- if (user)
		p hello #{user.username}
	- else 
		form(method: "POST", action: "/login")
			label username
			input(type: "text", name: "username")
			label password
			input(type: "password", name: "password")
			input(type: "submit")
div
	a(href: "/register") register
ul
  - each name in people
    != render('partial', {name: name})
