div#register
	form(method: "POST")
		p
			label username
			input(type: "text", name: "username")
		p
			label password
			input(type: "password", name: "password")
		p
			input(type: "submit")
div
	a(href: "/") home
